@import '../common/vars.scss';
.admin-panel-header {
  background: $primaryColour;
  padding:15px 15px 15px 60px;
  margin-bottom: 30px;
  

  h1 {
    color: $white;
    font-size: 16px;
    font-style: normal;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  img {
    width: 30px;
    height: 30px;
  }
}
#captureForm, .edit-form-group {
  input,
  textarea,
  button,
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
  }
}
.login-form {
  form {
    padding: 15px;
  }
}

.signOut {
  color: $white;
  float: right;
  padding: 5px 10px 0 0;
}