@import '../../common/vars.scss';

.footer {
  padding: 40px 0 40px 0;
  color: $white;
  background: $primaryColour;
  margin-top: 30px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }

  ul.footer-nav {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}
